[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Simple Features is a pure Go Implementation of the OpenGIS Simple Feature Access Specification
[access "refs/*"]
	owner = group user/Peter Stace (peterstace)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Peter Stace (peterstace)
	label-Verified = -1..+1 group user/Peter Stace (peterstace)
	push = group user/Peter Stace (peterstace)
	read = group user/Peter Stace (peterstace)
	rebase = group user/Peter Stace (peterstace)
	removeReviewer = group user/Peter Stace (peterstace)
	submit = group user/Peter Stace (peterstace)
[access "refs/heads/*"]
	create = group user/Peter Stace (peterstace)
	push = +force group user/Peter Stace (peterstace)
	pushMerge = group user/Peter Stace (peterstace)
	read = group user/Peter Stace (peterstace)
[access "refs/tags/*"]
	push = group user/Peter Stace (peterstace)
	push = +force group user/Peter Stace (peterstace)
